t2nexchange/
understanding/
Channelfit/
raw data/mature/
raw data/from other papers/FI_Meranfahrd15b_RAT.json
raw data/from other papers/
raw data/Mongiat 2009/Kir overexpression/21 dpi + Kir2.1/2010_03_19_0016.abf
raw data/Mongiat 2009/
raw data/BaCl/
raw data/young/
raw data/25/
raw data/28/
raw data/21/
morphos/NEURON2_hocs/cell_SH07all2_01.hoc
morphos/NEURON2_hocs/cell_SH07all2_01_minterf.dat
morphos/NEURON2_hocs/cell_SH07all2_02.hoc
morphos/NEURON2_hocs/cell_SH07all2_02_minterf.dat
morphos/NEURON2_hocs/cell_SH07all2_02_minterf.mat
morphos/NEURON2_hocs/cell_SH07all2_03.hoc
morphos/NEURON2_hocs/cell_SH07all2_03_minterf.dat
morphos/NEURON2_hocs/cell_SH07all2_03_minterf.mat
morphos/NEURON2_hocs/cell_SH07all2_04.hoc
morphos/NEURON2_hocs/cell_SH07all2_04_minterf.dat
morphos/NEURON2_hocs/cell_SH07all2_05.hoc
morphos/NEURON2_hocs/cell_SH07all2_05_minterf.dat
morphos/NEURON2_hocs/cell_SH07all2_05_minterf.mat
morphos/NEURON2_hocs/cell_SH07all2_06.hoc
morphos/NEURON2_hocs/cell_SH07all2_06_minterf.dat
morphos/NEURON2_hocs/cell_SH07all2_06_minterf.mat
morphos/NEURON2_hocs/cell_SH07all2_07.hoc
morphos/NEURON2_hocs/cell_SH07all2_07_minterf.dat
morphos/NEURON2_hocs/cell_SH07all2_07_minterf.mat
morphos/NEURON2_hocs/cell_SH07all2_08.hoc
morphos/NEURON2_hocs/cell_SH07all2_08_minterf.dat
morphos/NEURON2_hocs/cell_SH07all2_04_minterf.mat
morphos/NEURON2_hocs/cell_sh07all2_01_minterf.mat
morphos/NEURON2_hocs/cell_SH07all2_08_minterf.mat
*.c
*.o
